<div role="main" class="container" id="content" #content>
  <div class="row container">

    <div class="col col-lg-10 col-12 d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
      <!-- <img class="mr-3" src="../../assets/brand/bootstrap-outline.svg" alt="" width="48" height="48"> -->
      <div class="lh-100">
        <h6 class="mb-0 text-white lh-100">ฐานข้อมูลชุมชนอุตรดิตถ์</h6>
        <!-- <small>Since 2011</small> -->
      </div>
    </div>

    <div class="col col-lg-2 col-12 d-flex align-items-center p-3 my-3 text-white-50  rounded box-shadow">
      <button type="button" class="btn btn-success btn-block" (click)="printMap(cpm1)">
        <i class="fa fa-print"></i> Print</button>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-8 col-12">

      <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="media text-muted pt-3">
          <!-- <div id="map" class="map"></div> -->
          <div class="input-group">
            <input [(ngModel)]="term" (ngModelChange)="searchHouse($event);" class="form-control" placeholder="ค้นหาบ้านเลขที่..">
          </div>
        </div>
        <ul [hidden]="!term">
          <li *ngFor="let a of houseData" (click)="onHouseClick(a)"><a href="#">{{a.hs_no}} ชุมชน{{a.commu_name}}</a></li>
        </ul>
      </div>

      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">แผนที่</h6>
        <div class="media text-muted pt-3">
          <div id="map" class="map"></div>
        </div>
      </div>
    </div>
    <div class="col col-lg-4 col-12">
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">ชั้นข้อมูล</h6>
        <div class="media text-muted pt-3">
          <div class="layer">
            <div>
              <label>
                <input (change)="onCheckJson('parcel', $event.target.checked)" type="checkbox" [checked]="parcelCheck">
                อาคารและสิ่งปลูกสร้าง
              </label>
              <div *ngIf="parcelCheck">
                <img src="http://www.cgi.uru.ac.th/geoserver/wms?service=WMS&REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=udparcel:building_4326">
              </div>
            </div>

            <div>
              <label>
                <input (change)="onCheckJson('commu', $event.target.checked)" type="checkbox" [checked]="commuCheck">
                ขอบเขตชุมชน
              </label>
              <div *ngIf="commuCheck">
                <img src="http://www.cgi.uru.ac.th/geoserver/wms?service=WMS&REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=udparcel:boundary_comm_4326">
              </div>
            </div>

            <div>
              <label>
                <input (change)="onCheckJson('pro', $event.target.checked)" type="checkbox" [checked]="proCheck">
                ขอบเขตจังหวัด
              </label>
              <div *ngIf="proCheck">
                <img src="http://www3.cgistln.nu.ac.th/geoserver/wms?service=WMS&REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=gistdata:province">
              </div>
            </div>

            <div>
              <label>
                <input (change)="onCheckJson('amp', $event.target.checked)" type="checkbox" [checked]="ampCheck">
                ขอบเขตอำเภอ
              </label>
              <div *ngIf="ampCheck">
                <img src="http://www3.cgistln.nu.ac.th/geoserver/wms?service=WMS&REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=gistdata:amphoe">
              </div>
            </div>

            <div>
              <label>
                <input (change)="onCheckJson('tam', $event.target.checked)" type="checkbox" [checked]="tamCheck">
                ขอบเขตตำบล
              </label>
              <div *ngIf="tamCheck">
                <img src="http://www3.cgistln.nu.ac.th/geoserver/wms?service=WMS&REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=gistdata:tambon">
              </div>
            </div>

            <hr>
            <div class="form-group">เลือกแผนที่ฐาน
              <p></p>
              <select class="form-control" (change)="onSelect($event.target.value)">
                <option value="grod" selected>แผนที่ถนน (Road)</option>
                <option value="ghyb">แผนที่ดาวเทียม (Sattlelite)</option>
                <option value="gter">แผนที่ภูมิประเทศ (Terrain)</option>
                <option value="mbox">แผนที่ผสม OSM</option>
                <!-- <option value="mbox">แผนที่ขาวดำ (Gray map)</option> -->
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="my-3 p-3 bg-white rounded box-shadow" *ngIf="parcelCheck">
        <h6 class="border-bottom border-gray pb-2 mb-0">ค้นหาข้อมูลจากระยะ Buffer</h6>
        <div class="media text-muted pt-3">
          <div class="buffer">
            <div class="form-group">
              <select class="form-control" (change)="selectBuffer($event.target.value)">
                <option value="0" selected>ไม่กำหนด</option>
                <option value="100">100 เมตร</option>
                <option value="200">200 เมตร</option>
                <option value="500">500 เมตร</option>
                <option value="1000">1000 เมตร</option>
                <option value="5000">5000 เมตร</option>
                <!-- <option value="mbox">แผนที่ขาวดำ (Gray map)</option> -->
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="my-3 p-3 bg-white rounded box-shadow" *ngIf="parcelCheck">
    <h6 class="border-bottom border-gray pb-2 mb-0">อาคารที่ถูกเลือก</h6>
    <div class="ex3">
      <div class="media text-muted pt-3" *ngFor="let p of parcelBuff; let i = index">
        <!-- <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded"> -->
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" (click)="onClickList(p.geometry.coordinates[0][0],p.properties.cen_y,p.properties.cen_x,p.properties.hs_no,p.properties.commu_name)">
          <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark">{{i+1}}. อาคารเลขที่ <a href="#">{{p.properties.hs_no}}</a></strong>
          </div>
          <span class="d-block">ชุมชน{{p.properties.commu_name}}</span>
        </div>
      </div>

    </div>

    <!-- <small class="d-block text-right mt-3">
      <a href="#">All suggestions</a>
    </small> -->
  </div>
